/*  font-family: "Raleway", sans-serif;   */



body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-black);
}

:root {
  --blue-hover: #2196f3;
  --dark-black: #212121;
  --gray: #757575;
  --footer-color: #2F303A;
  --line-height: 2;
}



/*stylizacja przyciskow button*/

.button 
{
  padding: 0.6em;
  font-family: roboto;
  border: none;
  margin: .2em;
  border-radius: 0.2em;
  font-size:  1em;
  cursor: pointer;
  
  

}

.button:hover
{
 color: #ffffff;
 background-color: var(--blue-hover);
 text-shadow: 20px 20px 40px #858585;
 box-shadow: 0px 3px 5px #bbbbbb;
}
 

.button:focus 
{ 
  color var(--dark-black);
}                      

/* stylizacvja navigacji*/

.nav{
  text-decoration: none;
  list-style-type: none;
  color: var(--dark-black);
  font-size: 0.875em;
  
 
}

.nav:hover {
  color: var(--blue-hover);
}

/* LOREM IPSUM *4*/

.loremipsum-h3 {
  font-size: 0.875em;
  color: var(--dark-black);
  line-height: 1.172em;
  text-transform: uppercase;
}

.text-under-lorem {
 color: var(--gray) ;
 font-size: 0.875em;
 line-height: 1.5em;
}
  

/*- logo web studio*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.625em;
  text-decoration: none;
  }

.logo:visited
{color:white;}



.blue {color: var(--blue-hover);}
.black {color: black;}


.gray-links {  
  color: var(--gray);
  font-size: 1em;
  text-decoration: none;
  font-size: 0.875em;
}

.gray-links:hover {color: var(--blue-hover);}

/* napisy pod zdjeciami*/
h3 
{
font-weight: bold;
font-size:  1.125em;
color: var(--dark-black);
}
ul > li >figure {
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
 }

/* stylizacja 2th napisu pod zdjeciami*/

figcaption > p {
  color: var(--gray);
  font-size: 1em;
  font-size: medium;}

/*stopka tlo */

.footer {background-color: var(--footer-color);}


.addres-bottom-white {
text-decoration: none;
color: white;
font-size: 0.875em;
font-style: normal;
line-height: var(--line-height);}

.addres-bottom-gray {
  color: #ACACB0;
  font-style: normal;
line-height: var(--line-height);
}

.addres-bottom-gray-text-decoration {
  color: #ACACB0;
  font-style: normal;
line-height: var(--line-height);
text-decoration: none;
}

/*wylaczenie kropek w liscie*/ 
ul {list-style: none;}

.text-main-banner {
  color: #ffffff;
  font-weight: 900;
  font-size: 2.75em;
  text-align: center;

}
