/*  font-family: "Raleway", sans-serif;   */



body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-black);
}

:root {
  --blue-hover: #2196f3;
  --dark-black: #212121;
}



.button 
{
  padding: 0.6em;
  font-family: roboto;
  border: none;
  margin: .2em;
  border-radius: 0.4em;
}

.button:hover
{
 color: #ffffff;
 background-color: var(--blue-hover);
 }

.button:focus 
{ 
  color var(--dark-black);
}                      